<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Book info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<br>
<a href="/" class="btn btn-outline-primary" role="button">Root page</a><br><br>


<form th:action="'/saveEditBook?book_id=' + ${book.getBook_id()}" method="post" id="myform"></form>
<table class="table table-bordered " style="width: auto; background-color: rgba(43,5,22,.1)">
    <tr>
        <td>Title</td>
        <td><input class="form-control" style="width: auto" type="text" name="title" th:value="${book.getTitle()}" form="myform"></td>
    </tr>

    <tr>
        <td>Author</td>
        <td><input class="form-control" type="text" name="author" th:value="${book.getAuthor()}" form="myform"></td>
    </tr>

    <tr>
        <td>Genre</td>
        <td><input class="form-control" type="text" name="genre" th:value="${book.getGenre()}" form="myform"></td>
    </tr>

    <tr>
        <td>Publication House</td>
        <td><input class="form-control" type="text" name="pub_house" th:value="${book.getPub_house()}" form="myform"></td>
    </tr>

    <tr>
        <td>Year</td>
        <td><input class="form-control" type="text" name="year" th:value="${book.getPub_year()}" form="myform"></td>
    </tr>

    <tr>
        <td>Number of pages</td>
        <td><input class="form-control" type="text" name="num_of_pages" th:value="${book.getNum_pages()}" form="myform"></td>
    </tr>

    <tr>
        <td>Cover type</td>
        <td><input class="form-control" type="text" name="cover_type" th:value="${book.getCover_type()}" form="myform"></td>
    </tr>

    <tr>
        <td>Book price</td>
        <td><input class="form-control" type="text" name="price" th:value="${book.getPrice()}" form="myform"></td>
    </tr>

    <tr>
        <td>Amount</td>
        <td><input class="form-control" type="text" name="amount" th:value="${book.getAmount()}" form="myform"></td>
    </tr>


</table>
    <div class="col-md-4">
        <button type="submit" class="btn btn-primary" form="myform">Save</button>
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>