<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Add Book</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style>
    .sticky {
      position: sticky;
      top: 0em;
      min-height: 0em;
    }
  </style>
</head>
<body>
<br>

<header class="sticky">
  <nav class="navbar sticky-top navbar-dark bg-dark">
    <div class="btn-group" role="group" aria-label="top buttons">
      <a href="/" class="btn btn-outline-warning" role="button">Root page</a>
    </div>
  </nav>
</header>

<br>

<form action="/bookCreation" method="post">
  <div class="col-md-4 mx-auto">
    <label for="validationBookTitle" class="form-label">Title</label>
    <input type="text" class="form-control" name="title" id="validationBookTitle" required placeholder="Title">
  </div>

  <div class="col-md-4 mx-auto">
    <label for="validationBookAuthor" class="form-label">Author</label>
    <input type="text" class="form-control" id="validationBookAuthor" name="author" required placeholder="Author">
  </div>

  <div class="col-md-4 mx-auto">
    <label for="validationBookGenre" class="form-label">Genre</label>
    <input type="text" class="form-control" id="validationBookGenre" name="genre" required placeholder="Genre">
  </div>

  <div class="col-md-4 mx-auto">
    <label for="validationBookPubHouse" class="form-label">Publication House</label>
    <input type="text" class="form-control" id="validationBookPubHouse" name="pub_house" required placeholder="Publication House">
  </div>

  <div class="col-md-4 mx-auto">
    <label for="validationBookYear" class="form-label">Year</label>
    <input type="text" class="form-control" id="validationBookYear" name="year" required placeholder="Year">
  </div>

  <div class="col-md-4 mx-auto">
    <label for="validationNumOfPages" class="form-label">Number of pages</label>
    <input type="text" class="form-control" id="validationNumOfPages" name="num_of_pages" required placeholder="Number of pages">
  </div>

  <div class="col-md-4 mx-auto">
    <label for="validationCoverType" class="form-label">Cover Type</label>
    <input type="text" class="form-control" id="validationCoverType" name="cover_type" required placeholder="Cover type">
  </div>

  <div class="col-md-4 mx-auto">
    <label for="validationBookPrice" class="form-label">Price</label>
    <input type="text" class="form-control" id="validationBookPrice" name="price" required placeholder="price">
  </div>

  <div class="col-md-4 mx-auto">
    <label for="validationAmount" class="form-label">Amount</label>
    <input type="text" class="form-control" id="validationAmount" name="amount" required placeholder="amount">
  </div>

  <br>
  <div class="col-md-4 mx-auto">
    <button type="submit" class="btn btn-primary">Add Book</button>
  </div>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>