<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Customer info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .sticky {
            position: sticky;
            top: 0em;
            min-height: 0em;
        }
    </style>
</head>
<body>
<br>

<header class="sticky">
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <div class="btn-group" role="group" aria-label="top buttons">
            <a id="log_in_root_page_button" href="/logged" class="btn btn-outline-warning" role="button">Root page</a>
        </div>
    </nav>
</header>

<br>

<table id="customer_info_table" class="table table-bordered " style="width: auto; background-color: rgba(43,5,22,.1)">
    <tbody>
    <tr>
        <td>Login</td>
        <td><span th:text="${customer.getCustomer_login()}"> </span></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><span th:text="${customer.getCustomer_password()}"> </span></td>
    </tr>
    <tr>
        <td>First Name</td>
        <td><span th:text="${customer.getFirstname()}"> </span></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td><span th:text="${customer.getLastname()}"> </span></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><span th:text="${customer.getAddress()}"> </span></td>
    </tr>
    <tr>
        <td>Phone number</td>
        <td><span th:text="${customer.getPhone_number()}"> </span></td>
    </tr>
    <tr>
        <td>Mail</td>
        <td><span th:text="${customer.getMail()}"> </span></td>
    </tr>

    </tbody>
</table>
<a id="customer_info_edit_button" th:href="'/customerEdit?customer_id=' + ${customer.getCustomer_id()}" class="btn btn-primary" role="button">Edit</a>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>