<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Book info</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<br>
<a href="/" class="btn btn-outline-primary" role="button">Root page</a><br><br>


<form th:action="'/saveEditCustomer?customer_id=' + ${customer.getCustomer_id()}" method="post" id="myform"></form>
<table class="table table-bordered " style="width: auto; background-color: rgba(43,5,22,.1)">
  <tr>
    <td>Login</td>
    <td><span th:text="${customer.getCustomer_login()}"> </span></td>
  </tr>

  <tr>
    <td>Password</td>
    <td><input class="form-control" type="text" name="password" th:value="${customer.getCustomer_password()}" form="myform"></td>
  </tr>

  <tr>
    <td>First Name</td>
    <td><input class="form-control" type="text" name="first_name" th:value="${customer.getFirstname()}" form="myform"></td>
  </tr>

  <tr>
    <td>Last Name</td>
    <td><input class="form-control" type="text" name="last_name" th:value="${customer.getLastname()}" form="myform"></td>
  </tr>

  <tr>
    <td>Address</td>
    <td><input class="form-control" type="text" name="address" th:value="${customer.getAddress()}" form="myform"></td>
  </tr>

  <tr>
    <td>Phone number</td>
    <td><input class="form-control" type="text" name="phone_number" th:value="${customer.getPhone_number()}" form="myform"></td>
  </tr>

  <tr>
    <td>Mail</td>
    <td><input class="form-control" type="text" name="mail" th:value="${customer.getMail()}" form="myform"></td>
  </tr>

</table>
<div class="col-md-4">
  <button type="submit" class="btn btn-primary" form="myform">Save</button>
</div>

</body>
</html>