<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Index</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
  <body>
    <br>
    <a href="/" class="btn btn-primary " role="button">Root page</a><br><br>

    <table class="table table-bordered " style="width: auto; background-color: rgba(43,5,22,.1)">
      <thead class="thead-dark">
      <tr>
        <th scope="col"> Title </th>
        <th scope="col"> Author </th>
        <th scope="col"> Price </th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${books.empty}">
        <td colspan="8"> No books :( </td>
      </tr>
      <tr th:each="book : ${books}">
        <td scope="row"> <a th:href="'/book?book_id=' + ${book.getBook_id()}"> <span th:text="${book.getTitle()}"> </span> </a></td>
        <td><span th:text="${book.getAuthor()}"> </span></td>
        <td><span th:text="${book.getPrice()}"> </span></td>
      </tr>
      </tbody>
    </table>

  </body>
</html>