<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>LUIndex</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<br>

<div class="btn-group" role="group" aria-label="top buttons">
  <a href="/logged" class="btn btn-outline-primary" role="button">Root page</a>
  <a th:href="'/logged/personal?customer_id=' + ${customer_id}" class="btn btn-outline-primary" role="button">Personal Area</a>
  <a th:href="'/logged/orders?customer_id=' + ${customer_id}" class="btn btn-outline-primary" role="button">Orders</a>
  <a href="/logOut" class="btn btn-outline-primary" role="button">Log Out</a>
</div>

<br><br>

<table class="table table-bordered " style="width: auto;">
  <thead class="thead-dark">
  <tr>
    <th scope="col"> Title </th>
    <th scope="col"> Author </th>
    <th scope="col"> Price </th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${#lists.isEmpty(books)}">
    <td colspan="8"> No books :( </td>
  </tr>
  <tr th:each="book : ${books}">
    <td scope="row"> <a th:href="'/book?book_id=' + ${book.getBook_id()}"> <span th:text="${book.getTitle()}"> </span> </a></td>
    <td><span th:text="${book.getAuthor()}"> </span></td>
    <td><span th:text="${book.getPrice()}"> </span></td>
  </tr>
  </tbody>
</table>

</body>
</html>