<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Registration</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
  <body>
    <br>
    <a href="/" class="btn btn-outline-primary" role="button">Root page</a><br><br>

    <blockquote class="blockquote text-center">
      <h1 class="display-1">Error</h1>
      <h1 class="display-2"> <span th:text="${error}"> </span></h1>
    </blockquote>
    <br><br>
    <img src="https://i.kym-cdn.com/entries/icons/original/000/032/100/cover4.jpg" class="rounded mx-auto d-block" alt="Responsive image">


  </body>
</html>