<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Registration success</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<br>
<a href="/" class="btn btn-outline-primary" role="button">Root page</a><br><br>

<blockquote class="blockquote text-center">
  <h1 class="display-1">Order is processed</h1>
  <h1 class="display-2">Delivery time: <span th:text="${time}"> </span></h1>
</blockquote>

</body>
</html>