<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>add film</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/">Root page</a><br><br><br>

<form action="/superSecureLogin" method="post">

    <label for="login">Login:</label>
    <input type="text" id="login" name="login" ><br><br>

    <label for="password">Password:</label>
    <input type="text" id="password" name="password"><br><br>

    <input type="submit" value="Submit">
</form>

</body>
</html>